In [49]:
# importing essential libraries

In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [51]:
#reading datasets
batting = pd.read_csv("../Data/ipl_batting.csv")

In [52]:
deliveries = pd.read_csv("../Data/ipl_deliveries.csv")

In [53]:
matches = pd.read_csv("../Data/ipl_matches.csv")

In [54]:
batting.head()

,match_no,team_1,team_2,batsmen,wicket_status,R,B,M,fours,sixes,SR,special_role,dismissal_mode,bowler_name,fielder,is_fielder_involved,match_date
0,1,Mumbai Indians,Chennai Super Kings,ST Jayasuriya,c Hayden b Thushara,26.0,20.0,0.0,5.0,0.0,130.00,normal player,caught,Thushara,Hayden,1,2009-04-18
1,1,Mumbai Indians,Chennai Super Kings,SR Tendulkar,not out,59.0,49.0,0.0,7.0,0.0,120.40,captain,not out,no bowler,no fielder,0,2009-04-18
2,1,Mumbai Indians,Chennai Super Kings,S Dhawan,c Dhoni b Gony,22.0,21.0,0.0,2.0,0.0,104.76,normal player,caught,Gony,Dhoni,1,2009-04-18
3,1,Mumbai Indians,Chennai Super Kings,JP Duminy,c & b Gony,9.0,7.0,0.0,1.0,0.0,128.57,normal player,caught,Gony,Gony,1,2009-04-18
4,1,Mumbai Indians,Chennai Super Kings,DJ Bravo,c Hayden b Joginder Sharma,5.0,4.0,0.0,1.0,0.0,125.00,normal player,caught,Joginder Sharma,Hayden,1,2009-04-18

In [55]:
matches.dtypes

match_date        object
Ground            object
Team 1            object
Team 2            object
Winner            object
year               int64
month              int64
day                int64
win_mode          object
margin           float64
toss_winner       object
toss_decision     object
match_no           int64
dtype: object

In [56]:
date= matches.match_date
key=[]
visited=[]
for i in date:
    if i in date:
      number=visited.count(i)
      temp=i.split('_')
      temp1=temp[0]+temp[1]+temp[2]+'0'+str(number+1)
      visited.appeand(i)
      key.appeand(temp1)
    else:
      temp=i.split('-')
      temp1=temp[0]+temp[1]+temp[2]+'01'
      key.append(temp1)
      visited.append(i)

In [57]:
matches['match_key']=key

In [58]:
matches.head()

,match_date,Ground,Team 1,Team 2,Winner,year,month,day,win_mode,margin,toss_winner,toss_decision,match_no,match_key
0,2008-04-18,"Bengaluru, Bangalore",Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2008,4,18,Runs,140.0,Royal Challengers Bangalore,field first,1,2008041801
1,2008-04-19,"Mohali, Chandigarh",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,2008,4,19,Runs,33.0,Chennai Super Kings,bat first,2,2008041901
2,2008-04-19,Delhi,Delhi Capitals,Rajasthan Royals,Delhi Capitals,2008,4,19,Wickets,9.0,Rajasthan Royals,bat first,3,2008041901
3,2008-04-20,Kolkata,Kolkata Knight Riders,Deccan Chargers,Kolkata Knight Riders,2008,4,20,Wickets,5.0,Deccan Chargers,bat first,4,2008042001
4,2008-04-20,Mumbai,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,2008,4,20,Wickets,5.0,Mumbai Indians,bat first,5,2008042001

In [59]:
matches['Team 1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Mumbai Indians', 'Rajasthan Royals',
       'Deccan Chargers', 'Chennai Super Kings', 'Kochi Tuskers Kerala',
       'Pune Warriors', 'Sunrisers Hyderabad', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [60]:
matches['Team 2'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Deccan Chargers', 'Royal Challengers Bangalore',
       'Kings XI Punjab', 'Delhi Capitals', 'Mumbai Indians',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiant', 'Gujarat Lions'], dtype=object)

In [61]:
matches['toss_winner'].unique()

array(['Royal Challengers Bangalore', 'Chennai Super Kings',
       'Rajasthan Royals', 'Deccan Chargers', 'Mumbai Indians',
       'Kings XI Punjab', 'Kolkata Knight Riders', 'Delhi Capitals',
       'no toss', 'Kochi Tuskers Kerala', 'Pune Warriors',
       'Sunrisers Hyderabad', 'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant'], dtype=object)

In [62]:
team_1=matches['Team 1'].groupby(matches['Team 1']).agg('count')

In [63]:
team_1

Team 1
Chennai Super Kings             91
Deccan Chargers                 39
Delhi Capitals                  92
Gujarat Lions                   16
Kings XI Punjab                 87
Kochi Tuskers Kerala             7
Kolkata Knight Riders           87
Mumbai Indians                  87
Pune Warriors                   23
Rajasthan Royals                66
Rising Pune Supergiant          14
Royal Challengers Bangalore    101
Sunrisers Hyderabad             53
Name: Team 1, dtype: int64

In [64]:
team_2=matches['Team 2'].groupby(matches['Team 2']).agg('count')

In [65]:
team_2

Team 2
Chennai Super Kings             75
Deccan Chargers                 37
Delhi Capitals                  86
Gujarat Lions                   14
Kings XI Punjab                 88
Kochi Tuskers Kerala             7
Kolkata Knight Riders           94
Mumbai Indians                 101
Pune Warriors                   23
Rajasthan Royals                84
Rising Pune Supergiant          16
Royal Challengers Bangalore     82
Sunrisers Hyderabad             56
Name: Team 2, dtype: int64

In [66]:
total_matches= team_1+team_2

In [67]:
total_matches

Team 1
Chennai Super Kings            166
Deccan Chargers                 76
Delhi Capitals                 178
Gujarat Lions                   30
Kings XI Punjab                175
Kochi Tuskers Kerala            14
Kolkata Knight Riders          181
Mumbai Indians                 188
Pune Warriors                   46
Rajasthan Royals               150
Rising Pune Supergiant          30
Royal Challengers Bangalore    183
Sunrisers Hyderabad            109
dtype: int64

In [68]:
toss_winner=matches['toss_winner'].groupby(matches['toss_winner']).agg('count')

In [69]:
toss_winner

toss_winner
Chennai Super Kings            89
Deccan Chargers                43
Delhi Capitals                 90
Gujarat Lions                  15
Kings XI Punjab                80
Kochi Tuskers Kerala            8
Kolkata Knight Riders          92
Mumbai Indians                 98
Pune Warriors                  20
Rajasthan Royals               80
Rising Pune Supergiant          6
Rising Pune Supergiants         7
Royal Challengers Bangalore    82
Sunrisers Hyderabad            46
no toss                         7
Name: toss_winner, dtype: int64

In [70]:
percentage_winning_toss=(toss_winner/total_matches)*100

In [71]:
percentage_winning_toss

Chennai Super Kings            53.614458
Deccan Chargers                56.578947
Delhi Capitals                 50.561798
Gujarat Lions                  50.000000
Kings XI Punjab                45.714286
Kochi Tuskers Kerala           57.142857
Kolkata Knight Riders          50.828729
Mumbai Indians                 52.127660
Pune Warriors                  43.478261
Rajasthan Royals               53.333333
Rising Pune Supergiant         20.000000
Rising Pune Supergiants              NaN
Royal Challengers Bangalore    44.808743
Sunrisers Hyderabad            42.201835
no toss                              NaN
dtype: float64

In [72]:
match_winner=matches['Winner'].groupby(matches['Winner']).agg('count')

In [73]:
match_winner

Winner
Chennai Super Kings            100
Deccan Chargers                 29
Delhi Capitals                  76
Gujarat Lions                   13
Kings XI Punjab                 80
Kochi Tuskers Kerala             6
Kolkata Knight Riders           91
Match                            2
Mumbai Indians                 107
Pune Warriors                   12
Rajasthan Royals                73
Rising Pune Supergiant          15
Royal Challengers Bangalore     83
Sunrisers Hyderabad             57
abandoned                        6
no result                        5
tied                             8
Name: Winner, dtype: int64

In [74]:
toss_match_winner=matches['Team 1'].groupby([matches['Winner'],matches['toss_winner']]).agg('count')

In [75]:
#toss match winner
toss_match_winner

Winner               toss_winner
Chennai Super Kings  Chennai Super Kings            57
                     Deccan Chargers                 2
                     Delhi Capitals                  7
                     Kings XI Punjab                 3
                     Kolkata Knight Riders           6
                                                    ..
tied                 Kings XI Punjab                 1
                     Kolkata Knight Riders           1
                     Mumbai Indians                  1
                     Rajasthan Royals                1
                     Royal Challengers Bangalore     2
Name: Team 1, Length: 126, dtype: int64

In [76]:
temp=toss_match_winner.reset_index()
temp

                  Winner                  toss_winner  Team 1
0    Chennai Super Kings          Chennai Super Kings      57
1    Chennai Super Kings              Deccan Chargers       2
2    Chennai Super Kings               Delhi Capitals       7
3    Chennai Super Kings              Kings XI Punjab       3
4    Chennai Super Kings        Kolkata Knight Riders       6
..                   ...                          ...     ...
121                 tied              Kings XI Punjab       1
122                 tied        Kolkata Knight Riders       1
123                 tied               Mumbai Indians       1
124                 tied             Rajasthan Royals       1
125                 tied  Royal Challengers Bangalore       2

[126 rows x 3 columns]

In [86]:
df=temp.loc[temp['Winner']==temp['toss_winner']]
df

                          Winner                  toss_winner  Team 1
0            Chennai Super Kings          Chennai Super Kings      57
11               Deccan Chargers              Deccan Chargers      19
19                Delhi Capitals               Delhi Capitals      41
29                 Gujarat Lions                Gujarat Lions      10
36               Kings XI Punjab              Kings XI Punjab      34
44          Kochi Tuskers Kerala         Kochi Tuskers Kerala       4
50         Kolkata Knight Riders        Kolkata Knight Riders      53
63                Mumbai Indians               Mumbai Indians      55
75                 Pune Warriors                Pune Warriors       3
84              Rajasthan Royals             Rajasthan Royals      41
89        Rising Pune Supergiant       Rising Pune Supergiant       5
104  Royal Challengers Bangalore  Royal Challengers Bangalore      40
114          Sunrisers Hyderabad          Sunrisers Hyderabad      23

In [87]:
toss_winner

toss_winner
Chennai Super Kings            89
Deccan Chargers                43
Delhi Capitals                 90
Gujarat Lions                  15
Kings XI Punjab                80
Kochi Tuskers Kerala            8
Kolkata Knight Riders          92
Mumbai Indians                 98
Pune Warriors                  20
Rajasthan Royals               80
Rising Pune Supergiant          6
Rising Pune Supergiants         7
Royal Challengers Bangalore    82
Sunrisers Hyderabad            46
no toss                         7
Name: toss_winner, dtype: int64

In [85]:
dif=toss_winner.to_numpy()
#print(toss_winner)
dif=np.delete(dif,13)
print(dif)

[89 43 90 15 80  8 92 98 20 80  6  7 82  7]

In [84]:
df=df.drop(columns=['Winner'])

KeyError: "['Winner'] not found in axis"

In [82]:
df['Team']=dif

ValueError: Length of values (14) does not match length of index (13)

In [ ]:
df.columns=['Team','Win+Toss','Toss']

In [ ]:
tem= percentage.to_numpy()

In [ ]:
df['%(win+toss)']=(df['Win+Toss']/df['Toss'])*100

In [ ]:
tem = percentage.to_numpy()
toss = np.delete(tem,13)

In [ ]:
df['total_matches']=total_matches.to_numpy()

In [ ]:
df['%(win+toss)/total']=(df['Win+Toss']/df['total_matches'])*100

In [ ]:
df.head()

In [ ]:
batting['boundary_contribution'] = (batting['fours']+batting['sixes'])/batting['R']
batting.head()

In [ ]:
ax=sns.scatterplot(x='boundary_contribution',y='SR',data = batting,color='green')

In [ ]:
ax = sns.barplot(x=df['Team'],y=df['Win+Toss']).set_xticklabels(df['Team'],rotation=90)

In [ ]:
boundary_contribution=batting['boundary_contribution'].groupby(batting['batsmen']).sum()

In [ ]:
boundary_contribution['']

In [ ]:
toss_winner